################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MobileApp/MobileApp/MobileApp/Config.xml
